.gwt-connectors-line {
  font-size: 1px;
  line-height:1px;
  background-color: gray
}

.gwt-connectors-line-vertical {
  width:2px
}

.gwt-connectors-line-horizontal {
  height:2px
}

.gwt-connectors-line-selected {
  font-size: 1px;
  line-height:1px;
  background-color: DodgerBlue
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	/* filter: alpha(opacity =     30); */
	/* opacity: 0.3; */
}

.dragdrop-positioner {
	border: none;
	margin: 0px !important;
}

.gwt-connectors-widget-padding-selected {
	padding: 10px !important;
}

.gwt-connectors-widget-padding-unselected {
	padding: 13px !important;
}

.gwt-connectors-shape-selected {
	border-radius: 10px;
	border: 3px solid #00BFFF;
	border: 3px solid rgba(0,191,255, 0.3);
}

.gwt-connectors-shape-unselected {
	padding: 3px;
}

.gwt-connectors-selection-panel {
	border: 3px solid #DCDCDC;
	border: 3px solid rgba(220,220,220, 0.3);
}

.gwt-connectors-shape-connector-start {	
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	cursor: pointer;
}

.x-unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: ignore;
	user-select: none;
}

.gwt-connectors-widget-padding-selected {
	padding: 10px !important;
}

.gwt-connectors-widget-padding-unselected {
	padding: 13px !important;
}

.gwt-connectors-shape-selected {
	border-radius: 10px;
	border: 3px solid #00BFFF;
	border: 3px solid rgba(0, 191, 255, 0.3);
}

.gwt-connectors-shape-unselected {
	padding: 3px;
}

.gwt-connectors-shape-connector {
	padding: 4px;
}

.gwt-connectors-image {
	display: block;
}

.gwt-connectors-shape-connector-inner {
	background-color: white;
	height: 7px;
	width: 7px;
	border: 2px solid gray;
	border-radius: 5px;
}

.gwt-connectors-shape-connector-transparent {
	height: 11px;
	width: 11px;
	background-color: transparent;
}

.gwt-connectors-shape-connector-inner:hover {
	background-color: rgb(0, 191, 255);
}

.gwt-connectors-shape-connector-inner-drop-over {
	background-color: #FF6633;
}

.gwt-connectors-end-point {
	width: 6px;
	height: 6px;
	background-color: rgb(178, 178, 178);
	border: 2px solid rgb(93,93,93);
	border-radius: 6px;
	cursor: pointer;
}

.gwt-connectors-end-point-create-connector {
	width:7px;
	height:7px;
	background-color:#ECECEC;
	border:1px solid #B8B8B8;
	border-radius:6px;
	cursor:pointer;
	opacity:0.8;
}

.gwt-connectors-end-point-transparent {
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: none;
	cursor: default;
}

.gwt-connectors-vertical-section {
	cursor: w-resize;
	width: 4px;
	padding-left: 2px;
	padding-top: 0px;
}

.gwt-connectors-horizontal-section {
	cursor: n-resize;
	height: 4px;
	padding-top: 2px;
	padding-left: none;
}

.dragdrop-draggable input[style*="hidden"], .gwt-connectors-end-point input[style*="hidden"] {
    display: none;
}

.dragdrop-draggable img {
    -webkit-user-drag: none;
}