/* UWAGA!!!
W katalogu public istnieja dwa katalogi przeznaczone do przechowywania grafiki: graphics oraz images.
Zaleca sie przechowywanie wszystkich nowych obrazkow w katalogu images. W przypadku zmian na obrazkach
z katalogu graphics rowniez zaleca sie ich przenoszenie do images. W przyszlosci ma zostac tylko
katalog images.
   UWAGA!!! */
/* Do usunięcia po poprawieniu w GXT */
.ext-opera .x-form-field-wrap .x-form-trigger,.ext-chrome .x-form-field-wrap .x-form-trigger
	{
	right: 0;
}

html {
	font: 9pt "Trebuchet MS", Sans-Serif;
}

.mdl-menu-separator {
	background-image: url("../images/icons/menu/new-file.png") !important;
}

/* override 
.x-menu-list-item {
  white-space: nowrap;
  -moz-user-select: none;
  -khtml-user-select: none;
   -webkit-user-select: ignore
  display: block;
  padding: 1px;
}

.x-menu li.x-menu-sep-li {
  font-size: 1px;
  line-height: 1px;
}

.x-menu li {
  line-height: 100%;
}
*/
.mdl-comment-corner {
	background-image: url("../images/corner.gif") !important;
	position: absolute;
	background-color: #FFFFFF;
	border: 0px none transparent;
	width: 15px;
	height: 15px;
	font-size: 1px;
	line-height: 0px;
}

.mdl-menu-sep {
	background-color: #E0E0E0;
	border-bottom: 1px solid #FFFFFF;
	display: block;
	font-size: 1px;
	line-height: 1px;
	margin: 2px 3px;
	overflow: hidden;
}

.mdl-panel-palette {
	background-color: white;
}

.mdl-panel-diagramer {
	background-color: white !important;
}

.end-conn-rt {
	border: 2px transparent #003333;
	background-image: url("../images/diagram/arrow_blk_l.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.end-conn-lt {
	border: 2px transparent #003333;
	background-image: url("../images/diagram/arrow_blk_r.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.end-conn-up {
	border: 2px transparent #ff3333;
	background-image: url("../images/diagram/arrow_blk_u.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.end-conn-dn {
	border: 2px transparent #003333;
	background-image: url("../images/diagram/arrow_blk_d.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}

table.shadow {
	align: center;
	width: 130
}

td.shadow-top {
	height: 16px;
	background-image: url("../images/shadow/top.gif")
}

td.shadow-top-green {
	height: 16px;
	background-image: url("../images/shadow/topGreen.gif")
}

td.shadow-top-blue {
	height: 16px;
	background-image: url("../images/shadow/topBlue.gif")
}

td.shadow-topRight {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/topRight.gif")
}

td.shadow-topRight-green {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/topRightGreen.gif")
}

td.shadow-topRight-blue {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/topRightBlue.gif")
}

td.shadow-right {
	width: 16px;
	background-image: url("../images/shadow/right.gif")
}

td.shadow-right-green {
	width: 16px;
	background-image: url("../images/shadow/rightGreen.gif")
}

td.shadow-right-blue {
	width: 16px;
	background-image: url("../images/shadow/rightBlue.gif")
}

td.shadow-bottomRight {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/bottomRight.gif")
}

td.shadow-bottomRight-green {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/bottomRightGreen.gif")
}

td.shadow-bottomRight-blue {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/bottomRightBlue.gif")
}

td.shadow-bottom {
	height: 16px;
	background-image: url("../images/shadow/bottom.gif")
}

td.shadow-bottom-green {
	height: 16px;
	background-image: url("../images/shadow/bottomGreen.gif")
}

td.shadow-bottom-blue {
	height: 16px;
	background-image: url("../images/shadow/bottomBlue.gif")
}

td.shadow-bottomLeft {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/bottomLeft.gif")
}

td.shadow-bottomLeft-green {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/bottomLeftGreen.gif")
}

td.shadow-bottomLeft-blue {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/bottomLeftBlue.gif")
}

td.shadow-left {
	width: 16px;
	background-image: url("../images/shadow/left.gif")
}

td.shadow-left-green {
	width: 16px;
	background-image: url("../images/shadow/leftGreen.gif")
}

td.shadow-left-blue {
	width: 16px;
	background-image: url("../images/shadow/leftBlue.gif")
}

td.shadow-topLeft {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/topLeft.gif")
}

td.shadow-topLeft-green {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/topLeftGreen.gif")
}

td.shadow-topLeft-blue {
	width: 16px;
	height: 16px;
	background-image: url("../images/shadow/topLeftBlue.gif")
}

td.shadow-center {
	background-color:white;
	font-family:"Trebuchet MS", verdana;
	font-size:11px;
	z-index:3;
}

.mdl-cell-readonly {
	text-align: center;
	background-color: green;
}

.mdl-cell-required {
	text-align: center;
	background-color: red;
}

.mdl-cell-hidden {
	text-align: center;
	background-color: gray;
}

.mdl-cell-modify {
	text-align: center;
	background-color: yellow;
}

.mdl-panel-border-red {
	border: 2px;
	border-color: red;
}

.mdl-panel-border-yellow {
	border: 1px;
	border-color: yellow;
	background-color: red;
}

.mdl-panel-border-green {
	border: 1px;
	background-color: yellow;
	border-color: green;
}

.mdl-panel-scroll-border {
	border-left: 1px solid #BBBBBB;
}

/*
override
*/
.dragdrop-positioner {
	border: 0px;
	margin: 0px !important;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
}

.gwt-diagrams-ending {
	position: absolute;
}

.mdl-file-field-wrap {
	position: relative;
	white-space: nowrap;
}

.mdl-widget-select {
	border:1px;
	border-style:dashed;
	border-color:#6495ED;
}

.mdl-background-transparent {
	background-color: transparent !important;
}

.aur-btn-image {
	cursor: pointer;
}

/*Override*/
.x-form-file-wrap .x-form-file {
  position: relative;
  left: 0;
  -moz-opacity: 0;
  filter: alpha(opacity :       0);
  opacity: 0;
  z-index: 2;
  height: 22px;
  top: 0;
}