.x-unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: ignore;
	user-select: none;
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	/* filter: alpha(opacity =     30); */ /* opacity: 0.3; */
	
}

.dragdrop-positioner {
	border: none;
	margin: 0px !important;
}

.gwt-connectors-line {
	font-size: 1px;
	line-height: 1px;
	background-color: #b2b2b2;
}

.gwt-connectors-line-vertical {
	width: 2px
}

.gwt-connectors-line-horizontal {
	height: 2px
}

.gwt-connectors-line-selected {
	font-size: 1px;
	line-height: 1px;
	background-color: #00bfff;
}

.gwt-connectors-widget-padding-selected {
	padding: 10px !important;
}

.gwt-connectors-widget-padding-unselected {
	padding: 13px !important;
}

.gwt-connectors-shape-selected {
	border-radius: 10px;
	border: 3px solid #00BFFF;
	border: 3px solid rgba(0, 191, 255, 0.3);
}

.gwt-connectors-shape-unselected {
	padding: 3px;
}

.gwt-connectors-selection-panel {
	border: 3px solid #DCDCDC;
	border: 3px solid rgba(220, 220, 220, 0.3);
}

.gwt-connectors-shape-connector {
	padding: 4px;
}

.gwt-connectors-shape-connector-inner {
	background-color: white;
	height: 7px;
	width: 7px;
	border: 2px solid gray;
	border-radius: 5px;
}

.gwt-connectors-shape-connector-transparent {
	height: 11px;
	width: 11px;
	background-color: transparent;
}

.gwt-connectors-shape-connector-inner:hover {
	background-color: rgb(0, 191, 255);
}

.gwt-connectors-shape-connector-inner-drop-over {
	background-color: #FF6633;
}

.gwt-connectors-image {
	display: block;
}